<ng-container *ngIf="list;else elseblock">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Person</th>
        <th scope="col">Date</th>
        <th scope="col">Location</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of list" >
        <td>{{data.time}}</td>
        <td>{{data.table}}</td>
        <td>{{data.date}} </td>
        <td>{{data.location}}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
<ng-template #elseblock>
    <p>No Record Found</p>
</ng-template>