td,th{
    font-size: 13px;
    max-width: 155px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
img{
    width: 30px;
}
td{
    padding: 9px 9px;
}
th{
    padding: 1rem 9px;
    font-weight: 600;
    color: #337ab7;
}
